*{ 
    padding: 0;
    margin: 0;
    color: white;
}
a{
    color:inherit;
    text-decoration: none;
    color: black;
}
.Medsos{
 
    padding: 5px 0;
    background-color: black;
}



.banner
{
    height: 100vh;
    width:100%;
    border:1px solid;
    background-image:url(../img/bg.jpg);
    background-size: cover;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    border-top: 3px solid ;
    
}
.banner:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.banner h1{
    color:white;
    font-size:100px;
    padding:30px 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;
    
}

.banner p{
    color: white;
    font-size: 20px;
    padding:30px 25px;
    
}
.about{
    height: 100vh;
    width:100%;
    border:1px solid;
    background-color: black;
   
    align-items: center;
    justify-content: center;
 
}
.about table{
    margin: 0px;
    padding: 0px;
    
}
.about table tr {
    background-color: black;
}
.about table tr td h4{
   margin-left: 30px;
}
.about table img{
    height: 420px;
    width: 650px;
    margin-top: 35px;
}
.about:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.about h3{
    text-align: center;
    color:white;
    font-size:50px;
    line-height:250px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;
    
}
.about h4{
    margin:20px 0px;
    text-align: center;
    color:white;
    font-size:25px;
    line-height:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 10px 10px 10px black;
    
}
.about p{
    word-spacing: 3px;
    line-height:30px;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 0px 15px;
}

.services{
    height: 100vh;
    width:100%;
    border:1px solid;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
 
}
.services:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.services h3{
    text-align: center;
    color:white;
    font-size:50px;
    line-height:250px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;
}
.box{
color:white;
}
.box::after{
    content: "";
    display: block;
    clear: both;
}
.box .col-4{
    width:25%;
    padding:90px 0px;
    box-sizing:border-box;
    text-align: center;
    float: left;
}
.icon1{
    width: 210px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
    font-size: 15px;
    margin:0 auto;
    background:url(img/services1.jpg);
    background-size: cover;
}
.icon2{
    width: 210px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
    font-size: 15px;
    margin:0 auto;
    background:url(img/services2.jpeg);
    background-size: cover;
}
.icon3{
    width: 210px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
    font-size: 15px;
    margin:0 auto;
    background:url(img/services3.jpg);
    background-size: cover;
}
.icon4{
    width: 210px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
    font-size: 15px;
    margin:0 auto;
    background:url(img/services4.jpg);
    background-size: cover;
}
.box .col-4 h4{
    margin: 50px auto;
    font-size: 20px;
}
.menu{
    height: 738,5vh;
    width:100%;
    border:1px solid;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
 
}
.menu:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.menu h3{
    text-align: center;
    color:white;
    font-size:50px;
    line-height:250px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;
}
.menu table{
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
    width: 100%;
   
    padding-right: 140px;
}
.menu table tr {
    background-color: black;
  
}
.menu table tr td h4{
    margin-left: 120px;
   font-size: 30px;
   margin-right: 90px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 5px black;
    
}

.menu table tr td p{
    margin-left: 120px;
    margin-right: 90px;
    font-size: 25px;
}.menu table tr td h5{
    
    font-size: 20px;
    margin-right: 90px;
    background-color: yellow;
    border: 2px solid ;
    border-radius: 20px;
    color: black;
    margin-left: 120px;
 }
.menu table img{
    height: 250px;
    width: 350px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 120px;
    border: 3px solid yellow;
    border-radius: 20px;
    
}
.order{
    height: 150vh;
    width:100%;
    border:1px solid;
    background-color: black;
   color: white;
    align-items: center;
    justify-content: center;
 
}
.order:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.order h3{
    text-align: center;
    color:white;
    font-size:50px;
    line-height:250px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;}
    .form-tambah {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: black;
    }
    .table{
        width: 100%;
      }
      h1{
        text-align: center;
      }
    
    .btn-tambah {
        width: 100%;
        background-color: #428bca;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .btn-tambah:hover {
        background-color: #5bc0de;
    }
    
    .btn-edit {
        background-color: blue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .btn-edit:hover {
        background-color: black;
    }
    
    .btn-hapus {
        background-color: #f44336;;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .btn-hapus:hover {
        background-color: black;
    }
    
    .box {
        border-radius: 5px;
        background-color: black;
        padding: 20px;
    }
    
  .edit .delete{
    color: white;
    text-decoration: none;
  }
  .table{
    background-color: #428bca;
}
  

footer{
    padding:10px 0;
    background-color: black;
    text-align: center;
    color:#fff;
}
footer small{
    font-family:times new roman;
}

